*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* nav section  */
nav{
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-left: 50px;
}
/* nav ul, li{
  justify-items: center;
} */
.r{
  color: orange;
}
.hire-btn{
  background-color: #FD6E0A;
  padding: 15px 30px;
  border-radius: 3px;
  color: white;
  font-weight: 900;
  border: 0;
}


