* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* nav section  */
nav h1 {
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 100px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

.r {
  color: orange;
}

.hire-btn {
  background-color: #FD6E0A;
  padding: 15px 30px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  border: 0;
}

/* Header image and text */
.header {
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, left;
  background-size: auto, 85px;

}

.header-text-image {
  display: flex;
  align-items: center;
}

.header-content {
  margin-left: 100px;
  padding-right: 200px;
}

.header-content h3 {
  font-size: 60px;
}

.header-content h1 {
  font-size: 100px;
  font-weight: bold;
}

.header-image img {
  width: 584px;
  height: 600px;
}

.header-btns {
  padding-top: 20px;
}

.contact-btn {
  border: 1px solid#FD6E0A;
  padding: 15px 30px;
  border-radius: 3px;
  color: #FD6E0A;
  font-weight: bold;
}

.dc-btn {
  margin: 10px;
}

/* Main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

.about-me {
  margin-top: 130px;
  border-radius: 10px;
  background: #FFF8F3;
  padding: 130px 150px;
  text-align: center;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
}

.section-description {
  color: #757575;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-info-container {
  display: flex;
  justify-content: space-evenly;
}

.about-title {
  color: #757575;
}

.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}

/* what i do section */
.do-section {
  text-align: center;
  margin: 20px 20px;
}

.do-section p {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #757575;
}

/* Card Section */
.card-section {
  display: flex;
  padding: 10px;
}

.card {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  width: 250px;
  height: 300px;
  flex-shrink: 0;
  padding: 24px;
  margin: 15px;
  margin-right: 5px;
  
}
.card img{
  padding-bottom: 20px;
}
.card h3{
  padding-bottom: 20px;
}

/* summary section */
.section-title{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sections{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.summary-section{
  margin: 20px;
}
.summary-section h2{
}
.section-card{
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-card h2{
  padding-bottom: 5px;
}
.section-card p{
  color: #757575;
}
.p-title{
  padding-bottom: 20px;
  color: #757575;
}
.download-button{
  text-align: center;
}

/* Footer Section */
footer{
  background-color: #FFF8F3;;
}
.footer-section{
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
}
.input-form h1{
  padding-bottom: 20px;
}
.input-form input[type="text"],input[type="email"], textarea{
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 20px;
}
.contact-section{
  padding-right: 100px;
  padding-left: 200px;
}
.contact-section h1, p, img{
  padding-bottom: 20px;
}
.input-form{
  padding-right: 150px;
}